*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    z-index: 100;
    background-color: #ffffff;
}

header .logo {
    position: relative;
    max-width: 100px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
    margin-top: 15px;
}

header ul li a {
    display: inline-block;
    color: #2d1600;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    font-family: 'yanone kaffeesatz', sans-serif;
    font-weight: 320;
    font-size: larger;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #2d1600;
    font-size: 4em;
    line-height: 1.1em;
    font-weight: 400;
    font-family: 'yanone kaffeesatz', sans-serif;
}

.content .textBox h2 span {
    color: #00ccff;
    font-size: 1.2em;
    font-weight: 100;
    font-family: 'pacifico';
}

.content .textBox p {
    color: #2d1600;
    font-family: 'yanone kaffeesatz', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 400px;
    line-height: 1.3em;
}

.content .textBox a {
    display: inline-block;
    margin-top: 80px;
    padding: 8px 20px;
    background: #00ccff;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'yanone kaffeesatz', sans-serif;
    margin-top: 20px;
    transition: .4s;
}

.content .textBox a:hover {
    background: transparent;
    border: 1.5px solid #00ccff;
    cursor: pointer;
    color: #00ccff;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 700px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 -15px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-30px);
}

.thumb li img {
    max-width: 120px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ccff;
    clip-path: circle(480px at right 650px);
}

.about {
    width: 100%;
    padding: 78px 0;
    background: #f5f5f5;
}

.about img {
    width: 620px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: #00ccff;
    font-family: 'pacifico';
    font-size: 60px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.about-text h5 {
    color: #00ccff;
    font-size: 20px;
    font-family: 'yanone kaffeesatz', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.about-text p {
    color: #2d1600;
    letter-spacing: 1.5px;
    font-family: 'yanone kaffeesatz', sans-serif;
    font-size: 16px;
    font-weight: 340;
    line-height: 20px;
}

.map-section {
    width: 100%;
    padding: 78px 0;
    background: #ffffff;
}

.map-text {
    width: 550px;
}

.map-text h1 {
    color: #e56997;
    font-family: 'pacifico';
    font-size: 60px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.map-text p {
    color: #2d1600;
    letter-spacing: 1.5px;
    font-family: 'yanone kaffeesatz', sans-serif;
    font-size: 16px;
    font-weight: 340;
    line-height: 20px;
}

.map {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact {
    background: #f5f5f5;
    max-width: 100%;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.contact-box {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.contact-box .right h1 {
    font-family: 'pacifico';
    color: #00ccff;
    font-size: 60px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.contact-box .right p {
    color: #2d1600;
    letter-spacing: 1.5px;
    font-family: 'yanone kaffeesatz', sans-serif;
    font-size: 16px;
    font-weight: 340;
    line-height: 20px;
}

.right {
    height: 100%;
}

.left {
    padding: 25px 40px;
}

.field {
    width: 100%;
    padding: 0.5em 1em;
    border: 2px solid #f5f5f5;
    background-color: #ffffff;
    font-size: 1.1em;
    margin-bottom: 22px;
    transition: .3s;
    font-family: 'yanone kaffeesatz', sans-serif;
    border-radius: 10px;
}

.field:hover {
    background-color: #ffffff;
}

.field:focus {
    background-color: #fff;
    border: 2px solid #00ccff;
}

.area {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5em 1em;
    font-size: 1.2em;
    background-color: #00ccff;
    font-family: 'yanone kaffeesatz', sans-serif;
    border-radius: 10px;
    border: none;
    color: #f5f5f5;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (max-width: 991px)
{
    header{
        padding: 20px;
        background-color: #f5f5f5;
    }
    header .logo{
        max-width: 90px;
    }
    header ul{
        display: none;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active{
        position: fixed;
        right: 20px;
        background: url(close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    header ul.navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }
    header ul li a{
        color: #2d1600;
        font-size: 2.0em;
        margin: 10px 0;
    }
    section{
        padding: 20px 20px 120px;
    }
    .content{
        flex-direction: column;
        margin-top: 120px;
    }
    .content .textBox h2{
        color: #2d1600;
        font-size: 2.5em;
        margin-bottom: 1px;
        font-family: 'yanone kaffeesatz', sans-serif;
    }
    .content .textBox h2 span {
        color: #00ccff;
        font-family: 'pacifico';
    }
    .content .textBox p {
        color: #2d1600;
        font-family: 'yanone kaffeesatz', sans-serif;
    }
    .content .textBox{
        max-width: 100%;
    }
    .content .imgBox{
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img{
        max-width: 450px;
        margin-top: 1px;
    }
    .thumb li img{
        max-width: 100px;
    }
    .circle{
        clip-path: circle(350px at center bottom);
    }
}